body {
    background-color: darkSeaGreen;
    font-family: 'Architects Daughter', cursive;
    font-size: larger;
    text-align: center;
    height: 300px;
    padding: 50px;
}

.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #D2691E;
    text-align: center;
    transition: all 0.2s;
}